%h3
  ="Thank you for hosting the recent event '#{@title}'."
%p
  Event attendees were asked to fill out a survey based on this event.  You can find the results of the survey
  = link_to "onTap", @url