/* line 5, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/events.css.scss */
.didAttend {
  border-style: solid;
  border-color: green;
}

/* line 9, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/events.css.scss */
.notAttend {
  border-style: solid;
  border-color: red;
}

/* line 13, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/events.css.scss */
.finalizing {
  display: none;
}

/* line 16, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/events.css.scss */
.submit-finalize {
  margin-left: 10px;
}
