/* line 1, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 7, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload .progress {
  margin-top: 8px;
  border: solid 1px #555;
  border-radius: 6px;
  -moz-border-radius: 3px;
}
/* line 12, /home/matt/Desktop/Projects/onTap/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload .progress .bar {
  height: 50px;
  background: #3EC144;
}
