/* line 1, /home/matt/.rvm/gems/ruby-2.1.2/gems/s3_direct_upload-0.1.7/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 7, /home/matt/.rvm/gems/ruby-2.1.2/gems/s3_direct_upload-0.1.7/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload .progress {
  margin-top: 8px;
  border: solid 1px #555;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
/* line 12, /home/matt/.rvm/gems/ruby-2.1.2/gems/s3_direct_upload-0.1.7/app/assets/stylesheets/s3_direct_upload_progress_bars.css.scss */
.upload .progress .bar {
  height: 10px;
  background: #3EC144;
}
