
.panel.panel-default
  .panel-heading
    Event Lab
  .panel-body

    .h4 The following lab can be used to create temporary training sandbox relevant to this event.  This environment will be automatically deleted after two hours.

    .h4= link_to 'Reusable Actions and Modular Design Lab', lab_path(@lab)
