-if event.type.respond_to?(:has_GoToMeeting) && event.type.has_GoToMeeting && event.attending_or_above?(current_user) && event.status != 'finalized'
  .panel.panel-default
    .panel-heading
      GoTo Meeting information:
    .panel-body
      .meetinglink
        Please join the meeting:  
        = link_to event.event_style.element.go_to_meeting_url, event.event_style.element.go_to_meeting_url
      .meetingphone
        To call in dial:  
        = event.event_style.element.meeting_phone_number
      .access
        Use access code:  
        = event.event_style.element.access_code
