%br
.form_group
  =fields_for event do |e|
    .form_group
      .event-host-section.form-inline
        =e.label "Host(s)", class: "control-group"
        %button.btn.btn-default.form-control#add-event-host{type: "button", style: "margin-bottom:5px;"}
          Add Host
      -event.lunch_hosts.order(first_name: :asc).each do |lunch_host|     
        .event-host-section.form-inline
          = e.select :hosts, User.order(first_name: :asc).collect {|l| [l.display_name, l.id]}, {include_blank: true, selected: lunch_host.id}, name: "event[hosts][]", class: "form-control additional-host-field"
          %span.btn.btn-primary.remove
            Remove

    :javascript
      $(document).on("ready", function(){
        $("#add-event-host").on("click", function(){
          $(".event-host-section").last().after("<div class='event-host-section form-inline'>#{ e.select(:hosts, User.order(first_name: :asc).collect{|l| [l.display_name, l.id]},{}, name: 'event[hosts][]', class: 'form-control additional-host-field').tr_s('\n','').tr_s('"','\'').html_safe}<span class='btn btn-primary remove'>Remove</div>");
          return $(".remove").on("click", function(){
            return $(this).parent().remove();
          });
        });
      });

