= content_tag :li, class: "list-item", style: "margin-left: #{@margin*depth}px;" do
  =t.label dept["name"], class: "control-label"
  =t.check_box dept["name"], checked: (event.visible_to_departments[dept["name"]] == "1" ? "checked" : "")
-unless dept["sub_departments"].blank?
  - dept["sub_departments"].each do |sub_dept|
    = render '/events/event_visibility', depth: depth+1, dept: sub_dept, t: t, event: event
