= content_tag :li, class: "list-group-item", style: "margin-left: #{@margin*depth}px;" do -
  =d.label dept, class: "control-label"
  =d.check_box dept, checked: false
unless dept["sub_departments"].blank?
  - dept["sub_departments"].each do |sub_dept| %>
    = render "list_item_dept_layout", depth: depth+1, dept: sub_dept, d: d
