-if event.event_style.nil? || event.event_style.element_type == "Lunchlearn" || event.event_style.element_type == "TrainingClass"
  %br
  .form_group
    =fields_for event do |e|
      =f.label "Select Host(s)", class: "control-label"
      .form_group
        =e.collection_select(:hosts, User.order(first_name: :asc), :id, :display_name, {selected: event.hosts.map {|j| j.user_id}}, {multiple: true, class: "additional-host-field"})

:javascript
  $(".additional-host-field").chosen({
    disable_search_threshold: 10,
    placeholder_text_multiple: "Select Hosts",
    width: "50%"
  })


