.fields
  .event-schedule-section.form-inline
    .thefields
      .form_group
        =f.label :event_date, class: "control-label"
        -if not defined?(day)
          = f.text_field :event_date, class: "daydate", id: "datepicker", required: true
        -if defined?(day)
          = f.text_field :event_date, value: (day.start.to_date.strftime("%m/%d/%Y")), class: "daydate", id: "datepicker", required: true
      .form_group
        %br
        =f.label :start, "Event start time:", class: "control-label"
        =f.text_field :start, value: (day.start.strftime("%I:%M%p") unless not defined?(day)), class: "time", id: "timepicker", required: true
      .form_group
        %br
        =f.label :end, "Event end time:", class: "control-label"
        =f.text_field :end, value: (day.end.strftime("%I:%M%p") unless not defined?(day)), class: "time", id: "timepickerend", required: true
        = hidden_field_tag 'time_zone_offset'
      = link_to_remove_fields "remove", f
:javascript
  $('.thefields').on('click', '.time', function(){
    $(this).timepicker({ 
      useSelect: true,
      'scrollDefault': 'now' 
    });
  });
  $('.thefields').on('click', '.daydate', function(){
    $(this).datepicker()
    $(this).datepicker('show');
  });


