.day
  fields_for_day(day) do |day_form|
    .event-schedule-section.form-inline
      Day: =taskform.text_field :name
      =link_to "remove", "#", class: "remove_date"

:javascript
  $(document).on("ready", function(){
    return $(".remove_date").on("click", function(){
      return $(this).up('.task').remove();
    });
  });


