%h3
  ="Thank you for attending the event '#{@title}'."
%p
  We appreciate your feedback so we can continue to deliver quality events.
%p
  Please click
  = link_to "here", @url
  to fill out a quick survey.