.panel.panel-default
  .panel-heading 
    Attendees
    %span.badge
      = event.attendees.count
  .panel-body
    %h4 The following users have registered to attend
 
    -attending = event.attendees
    .row
      - attending.each do |attendee|
        .attending-cell.col-lg-2.col-sm-3.col-xs-4
          %figure.tint.close-picture{'data-toggle' => 'tooltip', 'data-placement' => 'top', title:  "#{attendee.user.display_name}"}
            .imagetooltip
              = display_picture(attendee.user.id)
  
    %h5= "No users registered" if event.attendees.count == 0

