.panel.panel-default
  .panel-heading
    GoTo Meeting information:
  .meetinglink
    Please join the meeting:  
    = link_to event.go_to_meeting_url
  .meetingphone
    To call in dial:  
    = event.meeting_phone_number
  .access
    Use access code:  
    = event.access_code
