%h1
  This is the Calendar page
  -@lunchlearns.each do |lunch|
    %h5
      =link_to lunch.title,lunchlearn_path(lunch)
      =link_to (lunch.attendees.exists?(user_id: session[:current_user_id]) ? "Don't Attend" : "Attend"), attendee_path(lunch)
      - if is_admin
        =link_to "Edit", edit_lunchlearn_path(lunch)
        =link_to "Delete", lunchlearn_path(lunch), method: :delete
    %p= lunch.description

%h1= "No lunch and learns are currently scheduled" if @lunchlearns.count == 0
%h3= link_to "Add New Lunch and Learn", new_lunchlearn_path if is_admin

