= form_for @lunchlearn, html: {class: "form-horizontal", role: "form"} do |f|
  %div.form_group
    =f.label :title, nil, class: "control-label"
    =f.text_field :title, value: @lunchlearn.title, class: "form-control", required: true

  %div.form_group
    =f.label :description, nil, class: "control-label"
    =f.text_field :description, value: @lunchlearn.description, class: "form-control", required: true

  %div.form_group
    =f.label :lunch_date, nil, class: "control-label"
    - if @lunchlearn.lunch_date
      =f.text_field :lunch_date, value:  @lunchlearn.lunch_date.strftime("%m/%d/%Y"), class: "form-control", id: "datepicker",required: true
    - if not @lunchlearn.lunch_date
      =f.text_field :lunch_date, value:  @lunchlearn.lunch_date, class: "form-control", id: "datepicker",required: true


  %div.form_group
    =f.label :lunch_time, "Event start time:", class: "control-label"
    =f.text_field :lunch_time, value: (@lunchlearn.lunch_time.strftime("%I:%M") unless @lunchlearn.lunch_time.blank?), class: "time", id: "timepicker", required: true
  %div.form_group
    =f.label :end_time, "Event end time:", class: "control-label"
    =f.text_field :end_time, value: (@lunchlearn.end_time.strftime("%I:%M") unless @lunchlearn.end_time.blank?), id: "timepickerend"

  %div.form_group
    %div.lunch-host-section.form-inline
      =f.label "Host(s)", class: "control-group"
      %button.btn.btn-default.form-control#add-lunch-host{type: "button", style: "margin-bottom:5px;"}
        %span.glyphicon.glyphicon-plus
        Add Host
    -@lunchlearn.lunch_hosts.order(first_name: :asc).each do |lunch_host|     
      %div.lunch-host-section.form-inline
        = f.select :hosts, User.order(first_name: :asc).collect {|l| [l.display_name, l.id]}, {include_blank: true, selected: lunch_host.id}, name: "lunchlearn[hosts][]", class: "form-control additional-host-field"
        %span.btn.btn-primary.remove
          %span.glyphicon.glyphicon-minus
          Remove

  %div.form_group
    =f.label :has_GoToMeeting, "Add GoToMeeting", class: "control-label"
    =f.check_box :has_GoToMeeting, checked: @lunchlearn.has_GoToMeeting, class: "meeting gotomeeting"
 
    %div.form_group#gotomeetingform
      %div.form_group
        =f.label :go_to_meeting_url, nil, class: "control-label"
        =f.text_field :go_to_meeting_url, value: @lunchlearn.go_to_meeting_url, class: "form-control"
      %div.form_group
        =f.label :meeting_phone_number, nil, class: "control-label"
        =f.text_field :meeting_phone_number, value: @lunchlearn.meeting_phone_number, class: "form-control", pattern: '\(\d{3}\)\d{3}-\d{4}', placeholder: "(XXX)XXX-XXXX", title: "(XXX)XXX-XXXX" 
      %div.form_group
        =f.label :access_code, nil, class: "control-label"
        =f.text_field :access_code, value: @lunchlearn.access_code, class: "form-control", pattern: '\d{3}-\d{3}-\d{3}', placeholder: "XXX-XXX-XXX", title: "XXX-XXX-XXX" 
   
  
  %div.form_group
    =f.submit class: "btn btn-primary", data: { disable_with: "Adding Lunch and Learn..."}
    :javascript
      $(document).on("ready", function(){
        if ($("input:checked").length > 0)
          $("#gotomeetingform").show()
        $("#datepicker").datepicker();
        $(".meeting").on("click", function(){
          $("#gotomeetingform").toggle($(this));        
        });
        $('#timepicker').timepicker({ 
          useSelect: true,
          'scrollDefault': 'now' 
        });
        $('#timepickerend').timepicker({ 
          useSelect: true,
          'scrollDefault': 'now' 
        });
        $(".remove").on("click", function(){
          return $(this).parent().remove();
        });
        $("#add-lunch-host").on("click", function(){
          $(".lunch-host-section").last().after("<div class='lunch-host-section form-inline'>#{ f.select(:hosts, User.order(first_name: :asc).collect{|l| [l.display_name, l.id]},{}, name: 'lunchlearn[hosts][]', class: 'form-control additional-host-field').tr_s('\n','').tr_s('"','\'').html_safe}<span class='btn btn-primary remove'><span class='glyphicon glyphicon-minus'/> Remove</span></div>");
          return $(".remove").on("click", function(){
            return $(this).parent().remove();
          });
        });
      });
    
    %div.clearfix
