= form_for @lunchlearn, html: {class: "form-horizontal", role: "form"} do |f|
  %div.form_group
    =f.label :title, nil, class: "control-label"
    =f.text_field :title, value: @lunchlearn.title, class: "form-control", required: true

  %div.form_group
    =f.label :description, nil, class: "control-label"
    =f.text_field :description, value: @lunchlearn.description, class: "form-control", required: true

  %div.form_group
    =f.label :lunch_date, nil, class: "control-label"
    =f.text_field :lunch_date, value:  @lunchlearn.lunch_date, class: "form-control", id: "datepicker",required: true

  %div.form_group
    =f.label :lunch_time, nil, class: "control-label"
    =f.text_field :lunch_time, value: (@lunchlearn.lunch_time.strftime("%I:%M") unless @lunchlearn.lunch_time.blank?), class: "form-control", required: true

  %div.form_group
    %div.lunch-host-section.form-inline
      =f.label "Host(s)", class: "control-group"
      %button.btn.btn-default.form-control#add-lunch-host{type: "button", style: "margin-bottom:5px;"}
        %span.glyphicon.glyphicon-plus
        Add Host
    -@lunchlearn.lunch_hosts.order(first_name: :asc).each do |lunch_host|     
      %div.lunch-host-section.form-inline
        = f.select :hosts, User.order(first_name: :asc).collect {|l| [l.display_name, l.id]}, {include_blank: true, selected: lunch_host.id}, name: "lunchlearn[hosts][]", class: "form-control additional-host-field"
        %span.btn.btn-primary.remove
          %span.glyphicon.glyphicon-minus
          Remove
  %div.form_group
    =f.submit class: "btn btn-primary", "data-loading-text" => "Adding Lunch and Learn..."
    :javascript
      $(document).on("ready", function(){
        $("#datepicker").datepicker();
        $(".remove").on("click", function(){
          return $(this).parent().remove();
        });
        $("#add-lunch-host").on("click", function(){
          $(".lunch-host-section").last().after("<div class='lunch-host-section form-inline'>#{ f.select(:hosts, User.order(first_name: :asc).collect{|l| [l.display_name, l.id]},{}, name: 'lunchlearn[hosts][]', class: 'form-control additional-host-field').tr_s('\n','').tr_s('"','\'').html_safe}<span class='btn btn-primary remove'><span class='glyphicon glyphicon-minus'/> Remove</span></div>");
          return $(".remove").on("click", function(){
            return $(this).parent().remove();
          });
        });
      });
    
    %div.clearfix
