/* Loading indicator */
#loading, #timeout, .patient {
  margin-left: 40px;
  display: none
}
.spin_button, .patient{
  margin-top: 20px;
}
.list-group-item{
  margin-left: 30px
}
.details_button{
  margin: 20px;
  margin-top: 20px !important;
}
.spinner {
  position: relative;
  width: 30px;    /* diameter */
  height: 30px;    /* diameter */
}
.outer, .inner, .spinner:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* Mask */
.spinner:after {
  content:" ";
  margin: 10%;    /* stroke width */
  border-radius: 100%;
  background: #F6F6F6;    /* container background */
}

.ui-state-active .spinner:after, .ui-state-hover .spinner:after, .ui-state-focus .spinner:after{
  background: #2D6CA2;
}
/* Spinning gradients */
.outer, .inner {
  animation-duration: 5s;    /* speed */
  -webkit-animation-duration: 5s;    /* speed */
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
.outer {
  animation-name: rotate-outer;
  -webkit-animation-name: rotate-outer;
}
.inner {
  animation-name: rotate-inner;
  -webkit-animation-name: rotate-inner;
}
/* Halfs */
.outer:before, .inner:before, .outer:after, .inner:after {
  position: absolute;
  top: 0;
  bottom: 0;
  content:" ";
}
/* Left half */
.outer:before, .inner:before {
  left: 0;
  right: 50%;
  border-radius: 30px 0 0 30px;    /* diameter */
}
/* Right half */
.outer:after, .inner:after {
  left: 50%;
  right: 0;
  border-radius: 0 30px 30px 0;    /* diameter */
}
/* Half gradients */
.outer:before {
  background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.0), hsla(204, 57%, 38%, 0.50));
  background-image: -moz-linear-gradient(top,  hsla(0, 0%, 100%, 0.0), hsla(204, 57%, 38%, 0.50));
  background-image: linear-gradient(to bottom,  hsla(0, 0%, 100%, 0.0), hsla(204, 57%, 38%, 0.50));
}
.outer:after {
  background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: -moz-linear-gradient(top,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: linear-gradient(to bottom,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
}
.inner:before {
  background-image: -webkit-linear-gradient(top,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: -moz-linear-gradient(top,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: linear-gradient(to bottom,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
}
.inner:after {
  background-image: -webkit-linear-gradient(top,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: -moz-linear-gradient(top,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
  background-image: linear-gradient(to bottom,  hsl(0, 0%, 100%), hsla(232, 100%, 66%, 0.50));
}
/* Spinning animations */
@keyframes rotate-outer {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
  }
}
@-webkit-keyframes rotate-outer {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}
@keyframes rotate-inner {
  0% {
    transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate-inner {
  0% {
    -webkit-transform: rotate(720deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.create_env{
  text-transform: capitalize;
  text-align: center;
  float: left;
}
#create_env{
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
}
#rdp, #smartclient, #create_env, #credentials, .lab_properties{
  margin: 10px;
}
.lab_properties{
  margin-top: 40px;
}