// Place all the styles related to the lunchlearns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    small {
	font-size:medium;
	  }
    }
.jumbo-button-panel{
    padding-bottom: 20px
}
.jumbotron{
    padding-top: 5px
}
.jumbo-description{
    clear: right
}
.ui-state-default{
	color: #2d6ca2;
 small{
     	color: #6F6F6F;
     }
}
.jumbo-date-hosts{
    display: table;
    width: 100%;
    margin-top: 0px;
    padding-right: 10px;
}
.jumbo-date{
    vertical-align: middle;
    display: table-cell;
    white-space: nowrap;
}
.jumbo-title{
    margin-bottom: 0px;
}
.jumbo-spacer{
   display:table-cell;
   width: 100%;
}
.jumbo-hosts{
    display: table-cell;
    padding-right: 10px;

   
}
.jumbo-hosted-by{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    white-space: nowrap;
}
.ui-state-active{
	color: #ffffff;
	background: #2d6ca2;
     small{
     	color: #D3CDCD;
     }
}
.ui-state-hover{
	color: #ffffff;
	background: #2d6ca2;
  small{
     	color: #D3CDCD;
     }	
}
.ui-widget-content > a{
	color: #ffffff;
	margin-top: 10px;
}
#gotomeetingform
{
	display:none;
}
.jumbo-hosts-name
{
        text-align: center;
	white-space: nowrap;
        font-size:  75%
}

.tint:hover{
    background: rgba(0,0,0,0.5);
    transition: background 0.3s linear;
}

