// Place all the styles related to the lunchlearns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    small {
	font-size:medium;
	  }
    }
.jumbo-button-panel{
    padding-bottom: 20px
}
.jumbotron{
    padding-top: 5px
}
.jumbo-description{
    clear: right
}
.ui-state-default{
	color: #2d6ca2;
 small{
     	color: #6F6F6F;
     }
}
.jumbo-date-hosts{
    display: table;
    width: 100%;
    margin-top: 0px;
    padding-right: 10px;
}
.jumbo-date{
    vertical-align: middle;
    display: table-cell;
    white-space: nowrap;
}
.jumbo-title{
    margin-bottom: 0px;
}
.jumbo-spacer{
   display:table-cell;
   width: 100%;
}
.jumbo-hosts{
    display: table-cell;
    padding-right: 10px;

   
}
.jumbo-hosted-by{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    white-space: nowrap;
}
.ui-state-active{
	color: #ffffff;
	background: #2d6ca2;
     small{
     	color: #D3CDCD;
     }
}
.ui-state-hover{
	color: #ffffff;
	background: #2d6ca2;
  small{
     	color: #D3CDCD;
     }	
}
.ui-widget-content > a{
	color: #ffffff;
	margin-top: 10px;
}
#gotomeetingform
{
	display:none;
}
.jumbo-hosts-name
{
        text-align: center;
	white-space: nowrap;
        padding-top: 5px;
        font-size:  75%;
}




.imagetooltip>img{ 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  /* For Webkit browsers */
   filter: none;
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.imagetooltip>img:hover{ 
    filter: grayscale(1000%);
    -webkit-filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.well-success{
    background: #dff0d8;
    border-color: #b2dba1;
    color: #3c763d;
    margin-top: 10px;
}
.attending-cell{
    display: table-cell;
    text-align: center;
    padding-top: 10px;
}
#attachment_file{
    display: inline;
}
#attachment-panel{
    display: none;
}
