// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indented
   {
   padding-left: 25pt;
   padding-right: 25pt;
   }
#otherfoodbox
{
	display:none;
}
