.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 6px;
    -moz-border-radius: 3px;
    .bar {
      height: 50px;
      background: #3EC144;
    }
  }
}
