.panel.panel-default
  .panel-heading
    %h4.panel-title Lab Credentials
  .panel-body
    .h5
      .username
        <strong>Username:</strong>
        = lab.username

      .password
        <strong>Password:</strong>
        = lab.password
