%h1
  All Suggestions:
  %div#accordion
    -@suggestions.each do |suggestion|
      %h5
        =link_to suggestion.suggestion_title,suggestion_path(suggestion)
      %div
        %br
        %p2= suggestion.user.display_name 
        Suggested:
        %p= suggestion.suggestion_description
        %span
          =link_to "Delete", suggestion_path(suggestion), method: :delete, class: "btn btn-default btn-sm"
%h1= "No Suggestions to display" if @suggestions.count == 0
:javascript
  $(function(){
    $("#accordion").accordion({collapsible: true, active:false,heightStyle: "content"});
  });
