= render "flash_messages"
= form_for @suggestion, html: {class: "form-horizontal", role: "form"} do |f|
  %div.form_group
    =f.label :suggestion_title, nil, class: "control-label"
    =f.text_field :suggestion_title, value: @suggestion.suggestion_title, class: "form-control", required: true

  %div.form_group
    =f.label :suggestion_description, nil, class: "control-label"
    =f.text_field :suggestion_description, value: @suggestion.suggestion_description, class: "form-control", required: true

  %div.form_group
    =f.submit class: "btn btn-primary", "data-loading-text" => "Adding Suggestion..."
